.jumbotron {
    background-image: url('./background.png');
    background-size: cover;
    background-repeat: none;
    height: 450px;
}

.welcome-header {
    text-align: center;
    margin-top: 5%;
}

.intro {
    text-align: center;
}