body {
    background-color: #605C58;
    font-family: 'Montserrat', sans-serif;
}

#about-me-img {
    text-align: center;
}

#about-me-img > img {
    border-radius: 50%;
    border: solid 1px white;
}

#about-me-text {
    background-color: white;
    border-radius: 2%;
}

#buttons {
    color: white;
}

a {
    color: inherit;
}

a:hover {
    color: #BFB59E;
}

@media (max-width: 576px) {

    #about-me-img {
        margin-top: 5%;
        margin-bottom: 5%;
    }
        
    #about-me-text {
        padding: 5px 5px 5px 5px;
    }

    #buttons {
        font-size: 45px;
        text-align: center;
        width: 100%;
        display: inline-block;
    }

    #buttons>i {
        margin-left: 10px;
        margin-right: 10px;
    }

}

@media (min-width: 768px) {
    #about-me-img {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    #about-me-text {
        padding: 15px 15px 15px 15px;
    }

    #buttons {
        font-size: 45px;
        text-align: center;
        width: 100%;
        display: inline-block;
        margin-top: 5%;
    }

    #buttons>i {
        margin-left: 10px;
        margin-right: 10px;
    }
}


@media (min-width: 992px) {

    .navbar-brand {
        font-size: 2.0em;
    }

    .nav-item {
        font-size: 1.5em;
    }

    #about-me-img {
        margin-top: 5%;
        margin-bottom: 3%;
    }

    #about-me-img > img {
        width: 250px;
        height: 250px;
    }

    #about-me-text {
        padding: 15px 15px 15px 15px;
        width: 600px;
        font-size: 1.1em;
        margin-left: auto;
        margin-right: auto;
    }

    #buttons {
        font-size: 45px;
        text-align: center;
        width: 100%;
        display: inline-block;
        margin-top: 3%;
    }

    #buttons>i {
        margin-left: 10px;
        margin-right: 10px;
    }

}