body {
    background-color: #605C58;
}

.project-gallery {
    color: white;
}

#buttons {
    color: white;
}

a {
    color: inherit;
}

a:hover {
    color: #BFB59E;
}

/* Small Screen Width */
@media (max-width: 576px) {

    .project-gallery {
        margin-top: 5%;
        text-align: center;
    }

    .project-text {
        margin-bottom: 5%;
        padding: 5px 5px 5px 5px;
    }

    img {
        margin-bottom: 5%;
        margin-top: 5%;
    }

    #buttons {
        font-size: 45px;
        text-align: center;
        width: 100%;
        display: inline-block;
        padding: 25px 25px 25px 25px;
    }

    #buttons>i {
        margin-left: 10px;
        margin-right: 10px;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .navbar-brand {
        font-size: 2.0em;
    }

    .nav-item {
        font-size: 1.5em;
    }

    .project-gallery {
        margin-top: 5%;
        text-align: center;
    }

    .project-text {
        margin-bottom: 5%;
        padding: 5px 5px 5px 5px;
    }

    img {
        margin-bottom: 5%;
        margin-top: 5%;
        width: 350px;
        height: 350px;
    }

    #buttons {
        font-size: 45px;
        text-align: center;
        width: 100%;
        display: inline-block;
        padding: 25px 25px 25px 25px;
        position: absolute;
        bottom: 0;
    }

    #buttons>i {
        margin-left: 10px;
        margin-right: 10px;
    }

}


/* Large Devices */
@media (min-width: 992px) {
    .navbar-brand {
        font-size: 2.0em;
    }

    .nav-item {
        font-size: 1.5em;
    }

    .project-gallery {
        margin-top: 5%;
        text-align: center;
    }

    .project-text {
        margin-bottom: 5%;
        padding: 5px 5px 5px 5px;
    }

    img {
        margin-bottom: 5%;
        margin-top: 5%;
    }
}